[submodule "lib/js/cutImg"]
	path = lib/js/cutImg
	url = https://github.com/Quoteme/cutImg
[submodule "lib/js/path"]
	path = lib/js/path
	url = https://github.com/Quoteme/path
[submodule "lib/js/voxel-mesh"]
	path = lib/js/voxel-mesh
	url = https://github.com/Quoteme/voxel-mesh
[submodule "lib/js/intersect"]
	path = lib/js/intersect
	url = https://github.com/Quoteme/intersect
[submodule "lib/js/keyboard"]
	path = lib/js/keyboard
	url = https://github.com/Quoteme/keyboard
